<% include ../partials/head %>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Cartera
      </h1>
      <h2 class="subtitle">
        CRM
      </h2>
    </div>
  </div>
</section>

<% leadsByLotes.forEach(function(lote){  %>
<div class="container" style="margin-top: 15px;">
  <div class="box">
        
    <h1 class="title is-4">
        <%= lote.lote + ' - ' + lote.descripcion %>
        <span class="icon is-pulled-right" style= <%= 'color:'+lote.colorFondo ; %> >
                <i class="fas fa-shopping-bag"></i>
              </span>
    </h1>
    <h2 class="subtitle is-6"><%= lote.tarea %></h2>
    <% if(lote.leads.length === 0){ %>
            <p class="has-text-centered has-text-link"> Sin datos para gestionar hoy</p>
        <% }else{ %>
    <table class="table is-fullwidth is-hoverable">
      <thead>
        <tr>
          <th class="has-text-centered">#</th>
          <th class="has-text-centered">Ingreso</th>
          <th class="has-text-centered">Intento</th>
          <th class="has-text-centered">fechaGestion</th>
          <th class="has-text-centered">Nombre</th>
          <th class="has-text-centered">Curso</th>
          <th class="has-text-centered"><i class="fas fa-cog"></i></th>
        </tr>
      </thead>
      <tbody>
        <% var i = 1; 
        lote.leads.forEach(function(lead){ %>
            <tr>
                <td class="has-text-centered"><%= i %></td>
                <td class="has-text-centered"><%= lead.entrada %> ( <%= lead.responsable %> ) </td>
                <td class="has-text-centered"><%= lead.intento %></td>
                <td class="has-text-centered"><%= lead.fecha + ' ' + lead.hora %></td>
                <td class="has-text-centered"><%= lead.nombre +' '+ lead.apellido %></td>
                <td class="has-text-centered"><%= lead.codigo %></td>
                <td class="has-text-centered">
                    <form action="/ficha" method="POST" style="margin-bottom: 0px;">
                    <input type="hidden" name="action" value="ficha">
                    <input type="hidden" name="idventa" value=<%= lead.idventa %>>
                    <button type="submit" class="button is-primary is-small"  style="margin-bottom: 0px;"> <i class="far fa-edit"></i> </button>
                    </form>
                </td>
            </tr>
         <% i++;
         }); %>
      </tbody>
    </table>
    <% } %>
  </div>
</div>

<% }); %>
<% include ../partials/footer %>
